<div class='container'>
  <h2 class='title is-1'>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class='field'>
      <%= f.label :username %><br>

      <div class='control has-icons-left'>
        <%= f.text_field :username, autofocus: true, autocomplete: 'username',
                                    placeholder: 'Username', class: 'input' %>

        <span class='icon is-left'><%= icon('fas', 'user') %></span>
      </div>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <div class='control has-icons-left'>
        <%= f.email_field :email, autocomplete: "email", placeholder: 'Email', class: 'input'  %>

        <span class='icon is-left'><%= icon('fas', 'envelope') %></span>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label 'New Password' %> <i>(leave blank if you don't want to change it)</i><br />

      <div class='control has-icons-left'>
        <%= f.password_field :password, autocomplete: "new-password",
                                        placeholder: 'New Password', class: 'input' %>

        <span class='icon is-left'><%= icon('fas', 'lock') %></span>
      
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <div class='control has-icons-left'>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
                                                    placeholder: 'Re-enter password',
                                                    class: 'input' %>
        <span class='icon is-left'><%= icon('fas', 'lock') %></span>
      </div>
    </div><br>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <div class='control has-icons-left'>
        <%= f.password_field :current_password, autocomplete: "current-password",
                                              placeholder: 'Current Password',
                                              class: 'input' %>
        <span class='icon is-left'><%= icon('fas', 'lock') %></span>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Update", class:'button' %>
    </div>
  <% end %><br>


  <%= link_to "Cancel my account", registration_path(resource_name),
                                  data: { confirm: "Are you sure?" },
                                  method: :delete,
                                  class: 'button is-danger'%><br><br>

  <%= link_to "Back", :back %>
</div><br>
