<section class='section'>
  <div class='container'>
    <% if current_user == @user %>
      <h1 class='container title is-1'>Your Attending Events</h1>
      <% if @attending_events.empty? %>
        <div class='column box'>
          <h2 class='title is-5'><%= @user.username %> has no attending events.</h2>
        </div>
      <% else %>
        <%= render 'list_events', event_list: @attending_events %>
      <% end %>
      <h1 class='container title is-1'>Your Events</h1>
      <% if @events.empty? %>
        <div class='column box'>
          <h2 class='title is-5'><%= @user.username %> has no events.</h2>
        </div>
      <% else %>
        <%= render 'list_events', event_list: @events %>
      <% end %>

    <% else %>
      <% if @events.empty? %>
        <div class='column box'>
          <h2 class='title is-5'><%= @user.username %> has no events.</h2>
        </div>
      <% else %>
        <h1 class='container title is-1'><%= @user.username %>'s Events</h1>
        <%= render 'list_events', event_list: @public_events %>
      <% end %>
    <% end %>
  </div>
</section>
