<section class='section'>
  <h1 class='container title is-1'>Your Events</h1>
</section>

<div class='container'>
  <% @events.each do |event| %>
    <div class='box'>
      <h2 class='title is-4'><%= event.title %></h2>

      <div class='box'>
        <p class='subtitle is-6'><%= event.description %></p>
      </div>
      <div class='buttons'>
        <%= link_to 'Event page', user_event_path(current_user, event), class: 'button is-link is-outlined'%>
        <%= link_to 'Edit event', edit_user_event_path(current_user, event), class: 'button is-info is-outlined' %>
        <%= link_to 'Delete event', user_event_path(current_user, event), method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'button is-danger is-outlined' %>
      </div>
    </div>
  <% end %>
</div>
