<% list_events.each do |event| %>
  <div class='box'>
    <h2 class='title is-2'><%= event.title %></h2>

    <h4 class='subtitle is-6'>
      Event location: <%= event.location %><br>
      
      Event date: <%= event.event_date.strftime("%m/%d/%Y at %I:%M%p") %>
    </h4>

    <p class='subtitle is-6'>
      <%= event.description.slice(0, 300).concat('...') %>
    <p><br>

    <h3>created by: <%= event.creator.username %></h3><br>

    <%= link_to 'Event page', user_event_path(event.creator, event),
                              class: 'button is-link is-outlined is-small' %>
  </div>
<% end%>
