<nav class='navbar is-dark'>
  <div class='navbar-brand'>
    <div class='navbar-item'>
      <%= link_to 'Homepage', root_path, class:'title is-3 has-text-white' %>
    </div>

    <div class='navbar-burger'>
        <span aria-hidden=true></span>
        <span aria-hidden=true></span>
        <span aria-hidden=true></span>
    </div>
  </div>

  <div class='navbar-menu'>
    <div class='navbar-start'>
      <% if user_signed_in? %>
        <div class='navbar-item'>
          <%= link_to new_user_event_path(current_user), class: 'button is-primary' do %>
          <%= icon('far', 'sticky-note') %>&nbsp;&nbsp;Create Event
          <% end %>
        </div>
        
        <div class='navbar-item'>
          <%= render 'shared/navbar_dropdown' %>
        </div>

        <div class= 'navbar-item container'>
          <%= render 'shared/navbar_user_list' %>
        </div>
      <% end %>
    </div>


    <div class='navbar-end'>
      <% if user_signed_in? %>
        <p class='navbar-item'>signed in as: <%= current_user.username %></p>
      <% end %>

      <div class='navbar-item buttons'>
        <% if user_signed_in? %>
          <%= link_to user_path(current_user), class: 'button is-info is-outlined' do %>
            <%= icon('fas', 'user') %>&nbsp;&nbsp;Profile
          <% end %>

          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'button is-danger' %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'button is-primary' %>
          <%= link_to 'Log in', new_user_session_path, class:'button is-light is-outlined' %>
        <% end %>
      </div>
    </div>

  </div>
</nav>
