
<section class='section'>
  <div class='container'>
    <h1 class='title is-3'>List of all upcoming events</h1>
    <% @active_events.each do |event| %>
      <div class='box'>
        <h2 class='title is-2'><%= event.title %></h2>

        <h4 class='subtitle is-6'>
          Event location: <%= event.location %><br>
          
          Event date: <%= event.event_date.strftime("%m/%d/%Y at %I:%M%p") %>
        </h4>

        <%= simple_format(event.description, class: 'subtitle is-6') %><br>
        <h3>created by: <%= event.creator.username %></h3><br>

        <%= link_to 'Event page', user_event_path(event.creator, event),
                                  class: 'button is-link is-outlined is-small' %>
      </div>
    <% end%>
  </div>
</section>
<!--
<section class='section'>
  <div class='container'>
    <h1 class='title is-3'>List of old events</h1>
    <% @old_events.each do |old_event| %>
      <div class='box'>
          <h2 class='title is-2'><%= old_event.title %></h2>

          <h4 class='subtitle is-6'>
            event location: <%= old_event.location %><br>
            
            event date: <%= old_event.event_date.strftime("%m/%d/%Y at %I:%M%p") %>
          </h4>

          <%= simple_format(old_event.description, class: 'subtitle is-6') %><br>
          <h3>created by: <%= old_event.creator.username %></h3><br>

          <%= link_to 'event page', user_event_path(old_event.creator, old_event),
                                    class: 'button is-link is-outlined is-small' %>
        </div>
    <% end %>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <h1 class='title is-3'>List of close events</h1>
    <% @close_events.each do |close_event| %>
      <div class='box'>
          <h2 class='title is-2'><%= close_event.title %></h2>

          <h4 class='subtitle is-6'>
            event location: <%= close_event.location %><br>
            
            event date: <%= close_event.event_date.strftime("%m/%d/%Y at %I:%M%p") %>
          </h4>

          <%= simple_format(close_event.description, class: 'subtitle is-6') %><br>
          <h3>created by: <%= close_event.creator.username %></h3><br>

          <%= link_to 'event page', user_event_path(close_event.creator, close_event),
                                    class: 'button is-link is-outlined is-small' %>
        </div>
    <% end %>
  </div>
</section>
-->
