<section class='section'>
  <div class='container'>
    <h1 class='title is-3'>List of all upcoming events</h1>
    <% @events.each do |event| %>
      <div class='box'>
        <h2 class='title is-2'><%= event.title %></h2>

        <h3 class='subtitle is-6'>
          created by: <%= event.creator.username %><br>
          Event date: <%= event.event_date %>
        </h3>

        <%= simple_format(event.description, class: 'subtitle is-6') %><br>

        <%= link_to 'Event page', user_event_path(event.creator, event),
                                  class: 'button is-link is-outlined is-small' %>
      </div>
    <% end%>
  </div>
</section>
