<div class='container box'>
  <section class='section'>
    <h1 class='title is-1'><%= @event.title %></h1>
    <h2 class='subtitle is-4'>created by: <%= @event.creator.username %></h2>
    <h3 class='subtitle is-4'>Event date: <%= @event.event_date.strftime("%m/%d/%Y at %I:%M%p") %></h3>
  </section>

  <section class='section'>
    <%= simple_format(@event.description, class: 'subtitle is-6') %>
  </section>

  
    <section class='section buttons'>
      <% if user_signed_in? && @event.creator != current_user %>
        <%= link_to 'Join event', new_users_event_path, class: 'button is-primary' %>
      <% end %>

      <% if current_user == @event.creator %>
        <%= link_to 'Edit event', edit_user_event_path(@event.creator, @event),
                                  class: 'button is-info is-outlined' %>
      <% end %>
    </section>
</div>

<div class='container box'>
  <section class='section'>
    <h1 class='title is-3'>List of attendees</h1>

    <% @attendees.each do |attendee| %>
      <%= link_to attendee.username, user_path(attendee), class: 'button is-info is-rounded' %>
    <% end %>
  </section>

  <section class='section'>
    <%= form_with model: [@event, @event.users_events.build], url: users_events_path do |form| %>
      <div class='columns control'>
        <%= form.text_field :username, class: 'column input is-3 mr-1' %>
        <%= form.submit 'Invite user', class:'button is-primary is-outlined' %>
      </div>
    <% end %>
  </section>
</div>

