<div class='container box'>
  <section class='section'>
    <h1 class='title is-1'><%= @event.title %></h1>
    <h2 class='subtitle is-4'>Event location: <%= @event.location %></h1>
    <h3 class='subtitle is-4'>Event date: <%= @event.event_date.strftime("%m/%d/%Y at %I:%M%p") %></h3>
  </section>

  <section class='section'>
    <%= simple_format(@event.description, class: 'subtitle is-6') %><br>
    <h2 class='subtitle is-5'>created by: <%= @event.creator.username %></h2>
  </section>

  
    <section class='section buttons'>
      <% if user_signed_in? && @event.creator != current_user %>
        <%= form_with model: @invitation do |form| %>
          <%= form.hidden_field :event_id, value: @event.id %>
          <%= form.hidden_field :username, value: current_user.username %>

          <% if @already_invited %>
            <button class='button is-success' disabled>Event joined</button>
          <% else %>
            <%= form.submit 'Join event', class: 'button is-primary' %>
          <% end %>
        <% end %>
      <% elsif current_user == @event.creator %>
        <%= link_to edit_user_event_path(@event.creator, @event),
                                  class: 'button is-info is-outlined' do %>
          <%= icon('far', 'edit') %>&nbsp;&nbsp;Edit Event
        <% end %>

        <%= link_to 'Delete event', user_event_path(@event), method: :delete,
                                    data: { confirm: 'Are you sure?'},
                                    class: 'button is-danger' %>
      <% else %>
        <div class='column'>
          <button class='button is-danger' disabled>Join Event</button>
          <p class='help is-danger'>You must be logged in!</p>
        </div>
      <% end %>
    </section>
</div>

<div class='container box'>
  <section class='section'>
    <h1 class='title is-3'>List of attendees</h1>

    <% @attendees.each do |attendee| %>
      <div class='container button is-info is-rounded is-1'>
        <%= link_to attendee.username, user_path(attendee), class:'has-text-white is-size-6' %>
        <% if current_user == @event.creator || current_user == attendee %>
          <%= link_to '', users_event_path(attendee.users_events.find_by('event_id = ?', @event.id)),
                          method: :delete,
                          data: { confirm: 'Remove this user from attending?' },
                          class: 'ml-3 delete is-medium' %>
        <% end %>
      </div>
    <% end %>
  </section>

  <% if current_user == @event.creator %>
    <section class='section'>
      <%= form_with model: @invitation do |form| %>
        <%= form.hidden_field :event_id, value: @invitation.event_id %>

        <div class='columns control'>
          <%= form.text_field :username, class: 'column input is-3 mr-1' %>
          <%= form.submit 'Invite user', class:'button is-primary is-outlined' %>
        </div>
      <% end %>
    </section>
  <% end %>
</div>

